.img-text-speech {
    width: 300px;
    height: auto;
}
.box-section {
    padding-left: 20px;
    padding-right: 20px;
}
.section-wrapper {
    padding: 50px 20px 20px 40px;
    width: 100%;
    margin: 0 auto;
    max-width: 940px;
}
.title-section {
    padding-bottom: 20px;
    padding-top: 20px;
}
.button-section {
    padding-top: 20px;
}

.text-com {
    color: rgb(0, 177, 146);
    font-size: 16px;
    font-weight: bold;
}

.btn-com {
    background-color: rgb(0, 177, 146);   
}

.bg {
    background-image: url("bg-full.png");
    background-repeat: repeat;
  }

.page-title {
    font-size: 24px;
    font-weight: bold;
}

.title-wrapper {
    padding-bottom: 20px;
}

textarea {
    padding: 10px;
    border: 1px solid grey;
}

.color-grey {
    font-size: 14px;
}

.samp-text {
    padding-bottom: 20px;
    padding-top: 30px;
}

.small-title {
    color: #7629309e;   
    font-size: 16px;
}

.button-section-top {
    padding-bottom: 20px;
}

.flex-full {
    flex: 1;
}

.sp-text {
    padding-bottom: 5px;
}
